/* RETURN BUTTON */

.return-btn-container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10%;
  margin-bottom: 1.5rem; 
}

.return-btn-container span {
  font-size: .9rem; 
  margin-left: .75rem; 
}

.return-btn {
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 35px; 
  width: 35px; 
  border-radius: 50%;
  border: 1px solid var(--green);
}

.return-btn:hover {
  background-color: var(--green); 
  color: black;
  transition: 300ms ease-out;
  cursor: pointer;
}

/* GRID LAYOUT FOR DETAILS PAGE */

.event-details-container {
  width: 100%; 
  height: 50%; 
  border-radius: .2em; 
  display: grid; 
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--dark-grey); 
}

.event-details-container .left {
  padding: 1rem; 
}

.event-details-container .right{
  display: inline-block;
  top:0; 
  left: 50%;
  background-image: url('https://photoresources.wtatennis.com/photo-resources/2020/03/09/bcf4d268-55a3-4a61-a6db-d027be7e6668/GettyImages-1136498983.jpg?width=1440&height=797'); 
  background-position: center; 
  background-size: cover;
}

.event-details-container .right:after {
  content: ''; 
  position: absolute; 
  height: 100%;
  width: 50%; 
  top: 0; 
  right: 0; 
  background-color: rgba(0, 0, 0, .25); 
  z-index: 10;
}

/* STYLING FOR INTERNALS OF DETAILS CARD */

.league-info {
  color: var(--green);
}


.match-name {
  font-size: 2rem;
  line-height: 1.5rem; 
  margin-bottom: 1rem; 
}

.event-time {
  margin-top: .5rem; 
  font-size: .5rem;
  opacity: .75;  
}

.bettable-tag {
  font-size: .75em; 
  padding: .25em; 
  border-radius: .2em; 
}

.bettable {
  color: var(--green); 
  border: 1px solid var(--green);
}

.not-bettable {
  color: var(--red); 
  border: 1px solid var(--red);
}

hr {
  width: 33%;
  margin-top: 1rem;
  opacity: 75%;  
}

.league-info {
  font-size: .75rem;
  opacity: .75;  
  display: block;
  margin-bottom: 1rem; 
}

